# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
next-env.d.ts

# local env
.env
.env*.local

# editor / os
.DS_Store
Thumbs.db
*.pem
*.key

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
